<h1><%= link_to "Movies", movies_path %></h1>

<%= form_tag(movies_path, :method => "get", id: "search_box" ) do %>
  <%= label_tag(:search_title, "Search Title:") %>
  <%= text_field_tag :search_title, params[:search_title] %><br>
  <%= label_tag(:search_director, "Director:") %>
  <%= text_field_tag :search_director, params[:search_director] %><br>
  <%= label_tag(:search_time, "Movie runtime")
  <%= select_tag() %>
  <%= submit_tag("Search", :name => nil) %>
<% end %>

<%= link_to "Submit a movie!", new_movie_path %>

<% @movies.each do | movie | %>
  <%= link_to image_tag(movie.poster_image_url || movie.local_image_url_url), movie_path(movie) %>
  <h2><%= link_to movie.title, movie_path(movie) %> </h2>
  <h3><%= movie.director %> | <%= formatted_date(movie.release_date) %></h3>
  <h4><%= movie.runtime_in_minutes %> minutes long | <%= movie.review_average %>/10</h4>
  <p><%= movie.description %></p>
  <hr>
<% end %>
